.spinner-container {
  width: 100%;
  display: grid;
  place-items: center;
  transition: all 0.5s;
}

.spinner-container > .spinner {
  animation: rotator 1.4s linear infinite;
  height: 30px;
  width: auto;
}

.spinner-container > .spiner > .path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors (1.4s * 4) ease-in-out infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes colors {
  0% {
    stroke: white;
  }
  100% {
    stroke: black;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 187/4;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
