$color-primary: #37a829;
$color-primary-dark: #007642;
$color-accent: #37a829;
$color-background: #E7EFF1;
$color-text-primary: #212121;
$color-text-secondary: #879D9C;
$color-divider: #BDBDBD;
$color-text-icon: #FFFFFF;
$color-error: #F44336;
// Shadows
$shadow_1: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
$shadow_2: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
$shadow_3: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
$shadow_4: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
$padding: 15px;
$padding-s: 5px;
$gap: 10px;
$gap-s: 5px;
$gap-l: 15px;